<div
  class="p-4 border overflow-hidden border-primary-darkest/20 duration-500 hover:border-primary dark:hover:border-white/70 group hover:shadow-lg hover:shadow-primary/50 dark:hover:shadow-white/50 rounded-4xl bg-white dark:bg-primary-darker">

  <div class="product-img overflow-hidden rounded-3xl relative">
    <img class="w-full scale-125 duration-300 group-hover:scale-y-100" [src]="data.imageCover" [alt]="data.title" />

    <!-- add to fav -->
    <a
      class="cursor-pointer group/fav absolute w-8 h-8 flex items-center justify-center hover:bg-primary top-6 end-4 rounded-full bg-white duration-100 dark:bg-primary-dark">
      <lucide-angular [img]="HeartIcon"
        class="text-primary-darker group-hover/fav:text-white duration-100 dark:text-white"></lucide-angular>
    </a>
  </div>

  <div class="product-details mt-3">
    <a [routerLink]="['/products/details', data._id, data.slug]" class="hover:underline hover:underline-offset-4 decoration-2 decoration-primary-darker dark:decoration-white">
      <h2 class="title-font text-lg font-semibold text-primary-darkest line-clamp-1 dark:text-white/90">
        {{ data.title }}
      </h2>
      <h3 class="tracking-tight text-primary-darkest/60 line-clamp-1 dark:text-white/70">
        {{ data.category.name }} - {{data.brand.name}}
      </h3>
    </a>
    <div class="flex justify-between items-center mt-2">
      <h3 class="font-bold text-2xl text-primary">{{data.price | currency}}</h3>

      <!-- add to cart -->
      <div (click)="addProductToCart(data._id)"
        class="cursor-pointer group/cart w-10 h-10 flex items-center justify-center hover:bg-primary rounded-full bg-primary/15 duration-100 dark:bg-primary-dark">
        <lucide-angular [img]="ShoppingCartIcon"
          class="text-primary-darker group-hover/cart:text-white duration-100 dark:text-white"></lucide-angular>
      </div>
    </div>
  </div>