<div class="max-w-lg mx-auto">
  <div
    class="p-4 lg:p-8 border-2 border-transparent dark:border-primary-dark duration-300 hover:border-primary/20 dark:hover:border-white/40 hover:shadow-lg hover:shadow-primary/50 dark:hover:shadow-white/50 rounded-4xl bg-white dark:bg-primary-darker">

    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-primary-darkest mb-2 tracking-tight dark:text-white">
        {{'auth.signup.title'|translate}}</h1>
      <p class="text-primary-darker/70 text-base font-medium dark:text-white/70">{{'auth.signup.subtitle'|translate}}
      </p>
    </div>

    <!-- Angular Reactive Form -->
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">

      <!-- Name -->
      <app-auth-input formControlName="name" [control]="signUpForm.get('name')" [controlName]="'Name'"
        [labelForId]="'name'" [labelText]="'auth.name'|translate" [inputType]="'text'"
        [inputPlaceholder]="'auth.namePlaceholder'|translate" [inputIcon]="userIcon" [errorMessages]="{
            required: 'Name is required',
            minlength: 'Name must be at least 3 characters',
            maxlength: 'Name must be less than 20 characters'
          }">
      </app-auth-input>

      <!-- Email -->
      <app-auth-input formControlName="email" [controlName]="'Email'" [control]=" signUpForm.get('email')"
        [labelText]="'auth.email'|translate" [inputType]="'email'"
        [inputPlaceholder]="'auth.emailPlaceholder'|translate" [inputIcon]="mailIcon" [errorMessages]="{
        required: 'Email is required',
        email: 'Invalid email format'
      }" />

      <!-- Password -->
      <app-auth-input formControlName="password" [control]="signUpForm.get('password')" [controlName]="'Password'"
        [labelForId]="'password'" [labelText]="'auth.password'|translate" [inputType]="'password'"
        [inputPlaceholder]="'auth.passwordPlaceholder'|translate" [inputIcon]="lockKeyholeIcon" [errorMessages]="{
      required: 'Password is required',
      pattern: 'Minimum eight characters and must contain uppercase, lowercase, number & special char'
    }">
      </app-auth-input>

      <!-- Re-Password -->
      <app-auth-input formControlName="rePassword" [control]="signUpForm.get('rePassword')"
        [controlName]="'Re-Password'" [labelForId]="'rePassword'" [labelText]="'auth.rePassword'|translate"
        [inputType]="'password'" [inputPlaceholder]="'auth.rePasswordPlaceholder'|translate"
        [inputIcon]="rotateCcwKeyIcon" [errorMessages]="{
      required: 'Confirm password is required',
      missMatch: 'Passwords do not match'
    }">
      </app-auth-input>

      <!-- Phone -->
      <app-auth-input formControlName="phone" [control]="signUpForm.get('phone')" [controlName]="'Phone'"
        [labelForId]="'phone'" [labelText]="'auth.phone'|translate" [inputType]="'text'"
        [inputPlaceholder]="'auth.phonePlaceholder'|translate" [inputIcon]="phoneIcon" [errorMessages]="{
      required: 'Phone is required',
      pattern: 'Invalid Egyptian phone number'
    }">
      </app-auth-input>

      <!-- Submit Button -->
      <button [disabled]="isLoading || signUpForm.invalid" type="submit"
        class="mt-4 py-3.5 border border-transparent rounded-full shadow-lg shadow-primary/40 dark:shadow-white/20 text-sm font-bold text-white bg-primary dark:bg-primary hover:bg-primary-hover transition-all transform disabled:bg-primary-darker/70 dark:disabled:bg-white/50 disabled:cursor-not-allowed cursor-pointer">
        {{'auth.signup.submit'|translate}}
        @if (isLoading) {
        <i class="fas fa-spinner fa-spin ml-2"></i>
        }
      </button>

      <!-- signin -->
      <div class="flex items-center justify-between mt-1">
        <a class="text-sm text-primary-darker dark:text-white">
          {{'auth.signup.haveAccount'|translate}} <span routerLink="/signin"
            class="cursor-pointer font-medium text-primary hover:underline">{{'auth.signin.submit'|translate}}</span>
        </a>
      </div>

      <!-- error message -->
      @if (errorMessage) {
      <div
        class="text-red-800 rounded-lg bg-red-100/80 border-l-4 dark:bg-primary-darkest/80 dark:text-red-400 border-red-600 p-3"
        role="alert">
        <p class="font-medium">{{ errorMessage }}</p>
      </div>
      }

      <!-- success message -->
      @if (successMessage) {
      <div
        class="text-green-700 rounded-lg bg-green-100/80 border-l-4 dark:bg-primary-darkest/80 dark:text-green-700 border-green-700 p-3"
        role="alert">
        <p class="font-medium">Login {{ successMessage }}</p>
      </div>
      }
    </form>
  </div>
</div>