@if (!product()) {

<app-loading-spinner />
}@else {

<section>
  <!-- Product Detail Grid -->
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-10">

    <!-- Image Gallery -->
    <div class="lg:col-span-7 flex flex-col gap-4">

      <!-- Main Image -->
      <div
        class="aspect-[4/3] rounded-2xl overflow-hidden bg-white/60 dark:bg-primary-darker dark:border-primary-darker shadow-sm border border-slate-100 flex items-center justify-center relative group">
        <img [src]="selectedImage()" class="aspect-[4/3]" alt="">
        <!-- Add to fav -->
        <button
          class="absolute top-4 right-4 size-10 rounded-full bg-white dark:bg-slate-800 shadow-md border border-slate-100 flex items-center justify-center text-slate-400 hover:text-red-500 hover:bg-red-50 dark:hover:bg-red-500/10 hover:border-transparent transition-all">
          <lucide-angular [img]="heartIcon" class="size-5"></lucide-angular>
        </button>
      </div>

      <!-- Thumbnail Gallery -->
      <div class="flex gap-4 overflow-x-auto pb-2">
        @for (image of images(); track $index) {
        <img [src]="image" [alt]="'thumbnail ' + $index" (click)="selectImage(image)"
          class="size-24 bg-white rounded-xl border-2 shadow-sm transition-all cursor-pointer object-cover"
          [class.border-primary]="selectedImage() === image" [class.border-transparent]="selectedImage() !== image"
          [class.hover:border-slate-300]="selectedImage() !== image"
          [class.dark:hover:border-slate-600]="selectedImage() !== image" [class.opacity-60]="selectedImage() !== image"
          [class.hover:opacity-100]="selectedImage() !== image" [class.dark:bg-slate-800]="true" />
        }
      </div>
    </div>

    <!-- Product Info -->
    <div class="lg:col-span-5 flex flex-col">
      <!-- Brand -->
      <div class="flex items-center gap-2">
        <img [src]="product()!.brand.image" class="size-12 object-contain" />
        <span class="font-medium text-primary-darkest/60 dark:text-white/90">
          {{ product()!.brand.name }}
        </span>
      </div>

      <!-- Title -->
      <h1 class="text-3xl md:text-4xl font-bold leading-tight text-primary-darkest dark:text-white">
        {{ product()!.title }}
      </h1>

      <!-- Rating -->
      <div class="flex items-center flex-wrap gap-2 mt-3">
        <div class="flex items-center">
          @for (s of [1, 2, 3, 4, 5]; track s; let i = $index) {
          <lucide-angular [img]="starIcon" class="size-5 transition-colors" strokeWidth="0" fill="#ff0"
            [class.text-yellow-400]="i < product()!.ratingsAverage"
            [class.text-primary-darker/60]="i >= product()!.ratingsAverage!"
            [class.dark:text-white]="i >= product()!.ratingsAverage!">
          </lucide-angular>
          }
          <span class="text-xl ms-1.5 font-bold text-primary-darker dark:text-white/90">
            {{ product()!.ratingsAverage }}
          </span>
        </div>

        <span class="text-sm underline text-primary-darker ms-2 hover:text-primary dark:text-white">
          ({{ product()!.ratingsQuantity }} {{'product.reviews'| translate}})
        </span>
      </div>

      <!-- Description -->
      <p class="text-primary-darker mt-4 whitespace-pre-line dark:text-white/90">
        {{ product()!.description }}
      </p>

      <!-- Price -->
      <p class="text-4xl font-bold text-primary mt-5 dark:text-white">
        {{ product()!.price | currency}}
      </p>

      <!-- Cart -->
      <div class="flex items-center gap-4 mt-6">
        <!-- Add to Cart Button -->
        <button
          class="bg-primary cursor-pointer dark:bg-primary-dark h-10 w-fit px-7 hover:shadow-lg hover:shadow-primary/50 dark:hover:shadow-white/50 text-white font-bold text-lg rounded-full  transition-all flex items-center justify-center gap-2 group">
          <span>{{'product.addToCart'| translate}}</span>

          <!-- icon -->
          <div class="group-hover:translate-x-1.5 rtl:group-hover:-translate-x-1.5 rtl:rotate-180 transition-transform">
            <lucide-angular [img]="moveRightIcon" class="size-5"></lucide-angular>
          </div>
        </button>

        <span class="text-sm text-primary-darkest dark:text-white">
          {{'product.available'| translate}} {{ product()!.quantity }}
        </span>
      </div>

      <!-- Meta -->
      <div class="mt-8 border-t pt-6 space-y-2 text-lg text-primary-darkest dark:text-white/90">
        <p>
          <span class="font-bold">{{'product.category'| translate}}</span>
          {{ product()!.category.name }}
        </p>
        <p>
          <span class="font-bold">{{'product.brand'| translate}}</span>
          {{ product()!.brand.name }}
        </p>
        <p>
          <span class="font-bold">{{'product.sold'| translate}}</span>
          {{ product()!.sold|soldFormat }}
        </p>
        <p>
          <span class="font-bold">{{'product.addedOn'| translate}}</span>
          {{ product()!.createdAt | date }}
        </p>
      </div>
    </div>
  </div>
</section>

}