/* select component */
.mat-mdc-select-arrow-wrapper {
  display: none !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.cdk-overlay-pane {
  background-color: var(--color-white) !important;
}

.dark .cdk-overlay-pane {
  background-color: var(--color-primary-darkest) !important;
}

div.mat-mdc-select-panel {
  padding: 0 !important;
}

.mdc-line-ripple::before {
  display: none;
}

/* form-field (input, textarea, ...) */
/* Autofill Light */
.form-field:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #ffffff;
  -webkit-text-fill-color: #0f172a;
}

/* Autofill Dark */
.dark .form-field:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #0f172a;
  -webkit-text-fill-color: #ffffffcc;
}