@import "tailwindcss";

@theme {
    --color-primary: #135BEC;
    --color-primary-dark: #334155;
    --color-primary-darker: #1e293b;
    --color-primary-darkest: #0f172a;
    --color-red-100: #ffcccc;
    --color-red-200: #ff9999;
    --color-red-300: #ff6666;
    --color-red-400: #ff3333;
    --color-red-500: #ff0000;
    --color-red-600: #cc0000;
    --color-red-700: #990000;
    --color-red-800: #660000;
    --color-red-900: #330000;
    --color-green-100: #ccffcc;
    --color-green-200: #99ff99;
    --color-green-300: #66ff66;
    --color-green-400: #33ff33;
    --color-green-500: #00ff00;
    --color-green-600: #00cc00;
    --color-green-700: #009900;
    --color-green-800: #006600;
    --color-green-900: #003300;
}