<div class="space-y-1.5">
    <!-- label -->
    <label [class]="labelClasses()" class="block text-sm font-medium text-primary-darkest ml-2 dark:text-white"
        [for]="labelForId()">{{labelText()}}</label>

    <!-- input -->
    <div class="relative group">
        <input spellcheck='false' [id]="labelForId()" [type]="actualInputType" [value]="inputValue" (blur)="onTouched()"
            (input)="inputValue= $event.target.value;onChange(inputValue)" [disabled]="disabled"
            [placeholder]="inputPlaceholder()" [class]="inputClasses()" 
            [class.pe-12]="actualInputType=='password'"
            class="w-full ps-12 py-3 border rounded-2xl text-primary-darkest dark:text-white placeholder-primary-dark/80 dark:placeholder-white/80  outline-0 sm:text-sm dark:bg-primary-darkest
            autofill:shadow-[inset_0_0_0px_1000px_#ffffff]
            autofill:[-webkit-text-fill-color:_#0f172a]
            dark:autofill:shadow-[inset_0_0_0px_1000px_#0f172a]
            dark:autofill:[-webkit-text-fill-color:_rgba(255,255,255,0.8)]" />

        <!-- icon -->
        <div
            class="absolute inset-y-0 start-0 ps-4 flex items-center pointer-events-none text-primary-dark/80 dark:text-white/80 group-focus-within:text-primary dark:group-focus-within:text-white/80 transition-colors">
            <lucide-angular [img]="inputIcon()" class="text-xl"></lucide-angular>
        </div>

        <!-- Password toggle icon -->
        @if (inputType() === 'password') {
        <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 end-0 pe-4 flex items-center
           text-primary-dark/70 hover:text-primary transition-colors">

            <lucide-angular [img]="isPasswordVisible ?  eyeIcon : eyeOffIcon" class="text-xl">
            </lucide-angular>

        </button>
        }
    </div>

    <!-- Error Handling -->
    @if (control()?.touched && control()?.errors) {
    <app-error-message>
        @for (err of (control()?.errors | keyvalue); track err.key) {
        <li>
            {{ errorMessages()[err.key] || (controlName() + ' is invalid') }}
        </li>
        }
    </app-error-message>
    }

</div>