<div class="max-w-lg mx-auto">
  <div
    class="p-4 lg:p-8 border-2 border-transparent dark:border-primary-dark duration-300 hover:border-primary/20 dark:hover:border-white/40 hover:shadow-lg hover:shadow-primary/50 dark:hover:shadow-white/50 rounded-4xl bg-white dark:bg-primary-darker">

    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-primary-darkest mb-2 tracking-tight dark:text-white">
        {{'auth.signin.welcome'|translate}}</h1>
      <p class="text-primary-darker/70 text-base font-medium dark:text-white/70">{{'auth.signin.subtitle'|translate}}
      </p>
    </div>

    <!-- Angular Reactive Form -->
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">

      <!-- Email -->
      <app-input formControlName="email" [controlName]="'Email'" [control]="signInForm.get('email')"
        [labelForId]="'email'" [labelText]="'auth.email'|translate" [type]="'email'"
        [placeholder]="'auth.emailPlaceholder'|translate" [icon]="mailIcon" [errorMessages]="{
        required: 'Email is required',
        email: 'Invalid email format'
      }" />

      <!-- Password -->
      <app-input formControlName="password" [controlName]="'Password'" [control]="signInForm.get('password')"
        [labelForId]="'password'" [labelText]="'auth.password'|translate" [type]="'password'"
        [placeholder]="'auth.passwordPlaceholder'|translate" [icon]="lockKeyholeIcon" [errorMessages]="{
      required: 'Password is required',
      pattern: 'Minimum eight characters and must contain uppercase, lowercase, number & special char'
    }" />


      <!-- Submit Button -->
      <button [disabled]="isLoading || signInForm.invalid" type="submit"
        class="mt-4 py-3.5 border border-transparent rounded-full shadow-lg shadow-primary/40 dark:shadow-white/20 text-sm font-bold text-white bg-primary dark:bg-primary hover:bg-primary-hover transition-all transform disabled:bg-primary-darker/70 dark:disabled:bg-white/50 disabled:cursor-not-allowed cursor-pointer">
        {{'auth.signin.submit' | translate}}
        @if (isLoading) {
        <i class="fas fa-spinner fa-spin ml-2"></i>
        }
      </button>

      <!--  Forgot Password -->
      <div class="flex flex-col justify-between mt-1">
        <a routerLink="/"
          class="cursor-pointer text-sm font-medium text-primary-darker dark:text-primary transition-colors hover:underline">
          {{'auth.signin.forgot' | translate}}
        </a>
        <a class="text-sm text-primary-darker dark:text-white">
          {{'auth.signin.noAccount' | translate}} <span routerLink="/signup"
            class="cursor-pointer font-medium text-primary hover:underline">{{'auth.signup.submit' | translate}}</span>
        </a>
      </div>

      <!-- error message -->
      @if (errorMessage) {
      <div
        class="text-red-800 rounded-lg bg-red-100/80 border-l-4 dark:bg-primary-darkest/80 dark:text-red-400 border-red-600 p-3"
        role="alert">
        <p class="font-medium">{{ errorMessage }}</p>
      </div>
      }

      <!-- success message -->
      @if (successMessage) {
      <div
        class="text-green-700 rounded-lg bg-green-100/80 border-l-4 dark:bg-primary-darkest/80 dark:text-green-700 border-green-700 p-3"
        role="alert">
        <p class="font-medium">Login {{ successMessage }}</p>
      </div>
      }
    </form>
  </div>
</div>