@if(isBrowser){
@if (navigation()) {
@if (dir() == 'rtl') {
<swiper-container dir="rtl" [breakpoints]="defaultBreakpoints()" [class]="containerClasses()" class="main-swiper overflow-hidden h-full w-full"
  [direction]="direction()" [slidesPerView]="slidesPerView()" [spaceBetween]="spaceBetween()" [effect]="effect()"
  pagination="true" pagination-clickable="true" navigation autoplay-delay="2500"
  autoplay-disable-on-interaction="false">
  @for (item of data(); track $index) {
  <swiper-slide [class]="slideClasses()" class="z-10 overflow-hidden">
    <img [src]="item.image" class="w-full h-72" />
    @if(item.name){
    <h2 class="absolute top-0 start-0 z-10 py-1 px-2 bg-primary/70 text-white/90 rounded-e-2xl">{{
      item.name }}</h2>}
  </swiper-slide>
  }
</swiper-container>
}@else {
<swiper-container [class]="containerClasses()" class="main-swiper overflow-hidden h-72 w-full" [direction]="direction()"
  [slidesPerView]="slidesPerView()" [spaceBetween]="spaceBetween()" [effect]="effect()" pagination="true"
  pagination-clickable="true" navigation autoplay-delay="2500" autoplay-disable-on-interaction="false">
  @for (item of data(); track $index) {
  <swiper-slide [class]="slideClasses()" class="z-10 overflow-hidden">
    <img [src]="item.image" class="w-full h-72" />
    @if(item.name){
    <h2 class="absolute top-0 start-0 z-10 py-1 px-2 bg-primary/70 text-white/90 rounded-e-2xl">{{
      item.name }}</h2>}
  </swiper-slide>
  }
</swiper-container>}

}@else {
<swiper-container [class]="containerClasses()" class="main-swiper overflow-hidden h-72 w-full" [direction]="direction()"
  [slidesPerView]="slidesPerView()" [spaceBetween]="spaceBetween()" [effect]="effect()" pagination="true"
  pagination-clickable="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
  @for (item of data(); track $index) {
  <swiper-slide [class]="slideClasses()" class="z-10 overflow-hidden">
    <img [src]="item.image" class="w-full h-72" />
    @if(item.name){
    <h2 class="absolute top-0 start-0 z-10 py-1 px-2 bg-primary/70 text-white/90 rounded-e-2xl">{{
      item.name }}</h2>}
  </swiper-slide>
  }
</swiper-container>
}
}